<ion-view title="Page 1">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>Heading</h1>
        <div>
            <p>Some friendly
                <strong>markdown</strong>
            </p>
        </div>
        <div>
            <p>
                <strong>First Name</strong>
            </p>
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="">
            </label>
            <br />
            <label class="item item-input">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="">
            </label>
            <br />
            <label class="item item-select">
                <span class="input-label">Age</span>
                <select>
                    <option ng-repeat="item in object">{{item}}</option>
                </select>
            </label>
            <br />
            <div class="row item">
                <div class="col item item-select">
                    <span class="input-label">Birth Month</span>
                    <select>
                        <option ng-repeat="month in months">{{month}}</option>
                    </select>
                </div>
                <div class="col item item-select">
                    <span class="input-label">Birth Day</span>
                    <select>
                        <option ng-repeat="day in days">{{day}}</option>
                    </select>
                </div>
                <div class="col item item-select">
                    <span class="input-label">Birth Year</span>
                    <select>
                        <option ng-repeat="year in years">{{year}}</option>
                    </select>
                </div>
            </div>
        </form>
    </ion-content>

</ion-view>

<ion-footer-bar class="bar-stable">
    <div class="row row-center">
        <div class="col col-20" align="left">
            <a href="#/start" class="button button-stable">Back</a>
        </div>
        <div class="col col-60" align="center">
            <progress value="22" max="100"></progress>
        </div>
        <div class="col col-20" align="right">
            <a href="#/page2" aligh="right" class="button button-stable" ng-disabled="true">Next</a>
        </div>
    </div>
</ion-footer-bar>