<ion-view title="Page 2">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <p>
                <strong>Race</strong>
            </p>
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <div>
            <p>
                <strong>Gender</strong>
            </p>
        </div>
        <form class="list"></form>
        <form class="list">
            <ion-radio>Radio</ion-radio>
        </form>
        <div>
            <p>
                <strong>City</strong>
            </p>
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form class="list"></form>
        <div>
            <p>
                <strong>Referal</strong>
            </p>
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a href="#/page3" class="button button-stable  ">Tap me!</a>
        <form class="list"></form>
    </ion-content>
</ion-view>